.premierh1{
    color: darkgreen;
    text-align: center;
}
.deuxièmeh1{
    color: rgb(100, 0, 62);
    text-align: center;
}
    


.span1{
  
   font-size: x-large;
 }
 .span2{
    font-size: xx-large;
 }

 .div1{
     background-color: rgb(191, 18, 18);
    height: 500px;
    width: 500px;
    margin-top: 20px;
    border-radius: 500px;
 }
 .div2{
    background-color: rgb(122, 191, 18);
    height: 500px;
    width: 500px;
    margin-top: 20px;

 }